<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Chancellor Message</title>
</head>

<body style="
    margin:0;
    padding:0;
    background:#ffffff;
    font-family:'Times New Roman', serif;
">

<div style="
    width:210mm;
    min-height:297mm;
    box-sizing:border-box;
    padding:45px 55px;
    page-break-after:always;
    display:flex;
    flex-direction:column;
">

    <h1 style="
        text-align:center;
        font-size:30px;
        margin-bottom:35px;
        color:#222;
        font-weight:bold;
    ">
        Chancellor's Message
    </h1>

    <div style="
        font-size:18px;
        line-height:1.6;
        text-align:justify;
        text-justify:inter-word;
        color:#222;
    ">

        <div style="float:right; margin-left:25px; margin-bottom:15px; text-align:center; width:200px;">
            <img
                src="./images/chancellor.jpg"
                alt="Chancellor"
                style="
                    width:200px;
                    height:auto;
                    max-height:240px;
                    object-fit:contain;
                    border:0;
                    display:block;
                    margin:0 auto;
                "
            />
        </div>

        <p style="text-indent:40px; margin:0;">
            Welcome to GM UNIVERSITY with the above mission and an intense
            two and half decades of learning has inspired us to establish
            GM University that surpasses conventional learning, while
            revolutionizing new age education with modern practices and
            creating a holistic learning experience for each student at
            our campus, I wish each student at our campus along with
            their bright future a contributor to National Building.
        </p>

        <p style="text-indent:0; margin:0;">
            I am immensely delighted in welcoming you to GM UNIVERSITY
            established through G.M UNIVERSITY ACT, 2022 received the
            assent of the Governor of Karnataka, a university of Unitary
            in nature Under Srishyla Educational Trust® Davanagere with
            rich history of its inception and legacy of 23 years in
            academic excellence and research mainly providing Quality
            education to Central Karnataka aspiring students. Under
            Srishyla Educational Trust last 2 Decades we have established
            6 institutions to provide holistic in education in technical,
            management, Pharmacy, Pure science and commerce by applying
            best practices in teaching, learning with state of art
            infrastructure facilities.
        </p>

        <p style="text-indent:0; margin:0;">
            6th July 2023 Government Order: ED/236/URC/2023 and on
            21st August 2023, GM UNIVERSITY has become a reality, with
            Progressive inclusion all our institutions will be become
            part this University in near future.
        </p>

        <p style="text-indent:0; margin:0;">
            GM UNIVERSITY started its journey with our founder's vision,
            a former Member of Parliament, Honorable Sri G Mallikarjunappa
            a visionary who believed in upgrading the livelihoods of
            people of this region, his efforts and reforms to improve the
            socio-economic conditions of Central Karnataka Educational
            Institutions are started, GM Group is committed to the growth
            of the region and has invested in education, and industries
            that can contribute to the growth of the district. In our
            Lifetime for future endeavors becoming a University is a
            necessary part of the journey,
        </p>

        <p style="text-indent:0; margin:0;">
            We at GM University believe in nurturing the talent of young
            minds by providing best of Curriculum, innovative teaching
            methodology, state-of-art infrastructure, new age technology,
            result oriented international collaborations & tie ups,
            Job Oriented Industry partnerships, Expertise panel,
            Real-time Research & innovations, Incubations to contribute
            to nation and Start-ups to Build Entrepreneurs, we build all
            this on the inspiration of our founder Honorable Sr.
            G. Mallikarjunappa.
        </p>

        <p style="text-indent:0; margin:0;">
            Diversity and inclusivity are two of our major strengths to
            create an eco-system where in all Stake holders are
            beneficiaries a Student, a Parent, an Institution at large
            our Nation.
        </p>

        <p style="text-indent:0; margin:0;">
            In the year 2000 we started with small number of students
            after 23 Year of experience and academic excellence with
            GM University inception we are looking forward to make
            20,000 Students Campus in near future with the need to
            prepare our students for rapidly changing & interconnected
            world we constantly strike to bring into campus a global
            perspective as the students are aiming at global careers.
            As a university we aim to create a socially responsible
            global citizen who can efficiently lead organizations,
            society and country. GMU with its Eco-system and leadership
            getting equipped to contribute better to New Age education,
            industry and academia.
        </p>

        <p style="text-indent:0; margin:0;">
            I thank all students, parents, faculties, researchers and
            advisors for your support and encouragement with I invite
            you once again to be part of future GM UNIVERSITY Journey.
        </p>

    </div>

    <div style="
        margin-top:auto;
        text-align:left;
        padding-top:30px;
        font-size:18px;
        font-weight:bold;
    ">
        <div>G.M. Lingaraju</div>
        <div style="font-weight:normal; margin-top:5px;">
            Chancellor, GM University
        </div>
    </div>

</div>

</body>
</html>